.feedback-error{
    color: red;
}
.item_picture{
    width: 300px;
}

.user_picture img{
    width: 100px;
    height: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 40px 20px 1px rgba(0, 0, 0, 0.06), 0 1px 4px rgba(0, 0, 0, 0.08)
}
.user_contact_info{
    padding: 20px;
}
.ml-20{
    margin-left: 20px;
}
.ml-30{
    margin-left: 30px;
}
.contact-header{
    display: flex;
}
.mmt-4{
    margin-top: 40px;
}

.text-i-Business-Man {
    color: blue;
    
}
.Investor-info {
    color: white;
    background-color: blue;
}

.text-i-Network {
    color: green;
}
.Company-info{
    color: white;
    background-color: green;
}

.text-i-Business-ManWoman {
    
    color: #be3697;
}

.Entrepreneur-info{
    color: white;
    background-color: #be3697;
}