
.list-horizontal .list-item .list-thumb img {
    height: 74px;
    width: 120px;
    -o-object-fit: cover;
    object-fit: cover;
}

.text-badge {
    font-size: 1.2rem;
}

.first_row {
    display: flex;
}

.list-grid .list-item .item-title {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 150px;
    flex: 1;
}

.text-flow{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    max-width: 300px;
}

.flex1 {
    flex : 1;
}
.flex_5 {
    flex: 0.5;
}
@media screen and (max-width : 600px){
    .desktop {
        display:none;
    }
    .all-item{
        margin-left: 10px !important;
    }
}

@media (max-width: 991px){
    .list-horizontal .list-item .list-thumb img {
        height: 100%;
        width: 100px;
    }
}

@media (min-width: 768px){
    .col-mmd-5 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.all-item{
    margin-left: 30px;
}

.switch {
    height: 19px;
}
.switch .slider {
    top: 3px;
}

.switch span:not(.slider) {
    top: 3px;
}
.card{
    cursor: pointer;
}

.logo{
    cursor: pointer;
}






.hidden{
    display: none !important;
}

