


<div class="row">
    <div class="col-md-6">
        <div class="card mb-4 o-hidden">
            <div class="card-body">
                <h5>The main global search engine role is to help you find information,

                        webpages, images, videos...of businesses all over the world in an
                        
                        easy innovative and fast way!</h5>
            </div>
            <img class="card-img-top" src="./assets/images/tree.png" alt="">
            
        </div>
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-title">Market-Business</div>
                        <p class="">An area where businesses can make an online shopping from each other.</p>
                        <button type="button" (click) = "goHome()" class="btn btn-lg btn-color1 m-1">Market Business</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-title">Mass-Business</div>
                        <p class="">A social area that connects between businesses according to their area of activity.</p>
                        <button type="button" (click) = "goHome()" class="btn btn-lg btn-color2 m-1">Mass Business</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="card-title">Make-Business</div>
                        <p class="">A business area which connects entrepreneurs, investors and companies to business opportunities.</p>
                        <button type="button" (click) = "goHome()" class="btn btn-lg btn-color3 m-1">Make Business</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   
   
   


</div>