.card-title {
    font-size: 1.1rem;
    margin-bottom: 0.4rem;
}

.btn-color1{
    color: #fff;
    background-color: #92d050;
    border-color: #92d050;
}

.btn-color2{
    color: #fff;
    background-color: #be36bb;
    border-color: #be36bb;
}

.btn-color3{
    color: #fff;
    background-color: #38a3b2;
    border-color: #38a3b2;
}